@import '../base/variables';

.btn {
    border-radius: 40px;
    padding: 16px 32px;
    cursor: pointer;
    font-family: $font-family-ubuntu;
    font-weight: 600;
    border: 1px solid $white;
    font-size: inherit;

    &__primary {
        color: $very-light-red;
        background-color: #fff;

        &:hover {
            box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
            transform: translateY(-2px);
            background-color: $very-light-red;
            color: #fff;
            border-color: $very-light-red;
        }
    }

    &__secondary {
        color: $white;
        background-color: transparent;

        &:hover {
            color: $very-light-red;
            background-color: $white;
        }
    }

    &__transparent {
        background-color: transparent;
        border: none;
        color: $white;
        position: relative;

        &::after {
            content: "";
            background-color: transparent;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 30px;
            z-index: 0;
        }

        &:hover {
            color: $very-dark-black-blue;
        }

        &:hover::after {
            background-color: white;
            animation-name: btnAnimate;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes btnAnimate {
    0% {
        opacity: 1;
        color: $white;
    }

    80% {
        transform: scaleX(1.3) scaleY(1.1);
    }

    100% {
        opacity: 0;
    }
}
